.block-half {
	width: 100%;
	max-width: 585px;
	height: 352px;
	margin-bottom: 60px;
	padding: 20px;

	border-radius: 6px;
	background-repeat: no-repeat;
	background-position: center;
	&:hover {
		transition: transform 0.5s linear;
		transform: scale(1.035);
	}
}

.block-half--bucket {
	background-image: url("/assets/img/bg-bucket.jpg");

	h3 {
		margin: 0;
		margin-bottom: 105px;

		color: $base-text;

		font-family: 'Amazing Grotesk Ultra';
		font-size: 26px;
	}
}

.block-half--workers {
	padding-left: 17px;

	background-image: url("/assets/img/workers.png");
	background-position: right;

	h3 {
		margin: 0;
		margin-bottom: 35px;

		color: $base-text;

		font-family: 'Amazing Grotesk Ultra';
		font-size: 24px;
	}

	img {
		margin-bottom: 25px;
	}

	p {
		margin: 0;

		font-family: 'Open Sans Semibold';
		font-size: 16px;
		line-height: 24px;
	}
}
@media only screen and (min-width:480px) {
	.block-half {
		width: 405px;
	}

	.block-half--bucket {
		h3 {
			font-size: 36px;
		}
	}
}
@media only screen and (min-width:768px) {
	.block-half {
		width: 50%;
	}
}
