.block-full {
  width: 100%;
  background-image: url("/assets/img/money-rain.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
  padding-right: 270px;

  h3 {
    margin: 0;
    margin-bottom: 35px;
    font-family: 'Amazing Grotesk Demi';
    font-size: 36px;
  }
}
