.carousel {
  width: 863px;
  height: 300px;
  border-radius: 6px;
  margin-right: 15px;
}

.carousel__slide-1 {
  padding: 40px;
  background-image: url("/assets/img/carousel-bg-1.jpg");
  background-position: center;
  background-color: $base-text;
  width: 100%;
  height: 100%;

  h1 {
    margin: 0;
    font-family: 'Amazing Grotesk Ultra';
    color: $yellow;
    text-transform: uppercase;
    padding-right: 320px;
  }

  p {
    font-family: 'Open Sans Semibold';
    color: $white;
    padding-right: 310px;
    text-align: left;
    font-size: 18px;
    line-height: 24px;
  }

  b {
    font-family: 'Amazing Grotesk Ultra';
  }
}
