.download {
	position: relative;

	width: 291px;
	height: 300px;
	padding-top: 30px;

	text-align: center;

	border-radius: 6px;
	background-color: $base-text;
	background-image: url("/assets/img/file.png");
	background-repeat: no-repeat;
	background-position: 50% 140%;

  &:hover {
    transform: scale(1.07);
    transition: transform 0.5s linear;
  }
}

.download__header {
	margin: 0;
	margin-bottom: 100px;

	color: $white;

	font-family: 'Amazing Grotesk Ultra';
	font-size: 21px;
}

.download__link {
	position: relative;

	max-width: 220px;
	padding-top: 13px;
	padding-right: 50px;
	padding-bottom: 13px;
	padding-left: 70px;

	text-decoration: none;

	color: $base-text;
	border-radius: 23px;
	background-color: $yellow;

	font-family: 'Amazing Grotesk Demi';
	font-size: 18px;
	&::before {
		position: absolute;
		top: 48%;
		bottom: 0;
		left: 25%;

		width: 20px;
		height: 16px;

		content: '';
		transform: translate(-50%, -50%);

		background-image: url("/assets/img/icons/download.png");
	}

	&:hover {
		background-color: $base-salad;
	}
}
