.eggs {
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 55px
  }
}

.eggs__item {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  min-width: calc(100%/4);

  b {
    font-family: 'Amazing Grotesk Ultra';
    color: $base-salad;
    font-size: 36px;
  }

  span {
    color: $base-text;
    font-family: 'Open Sans Semibold';
    font-size: 16px;
    line-height: 27px;
  }
}

@media only screen and (min-width:320px) {
  .eggs {
    ul {
      flex-direction: column;
    }
  }
  .eggs__item {
    &::after {
      content: none;
    }
  }
}

@media only screen and (min-width:768px) {
  .eggs {
    ul {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

@media only screen and (min-width:1024px) {
  .eggs__item {
    &::after {
      content: '';
      width: 3px;
      height: 61px;
      position: absolute;
      right: 0;
      top: 0;
      background-image: url("../../assets/img/dotted line.png");
      background-repeat: no-repeat;
    }

    &:nth-last-child(1) {
      &::after {
        content: none;
      }
    }
  }
}
