.footer {
	background-color: $base-text;

	.messengers__item,
	.telephone {
		color: $white;
	}

	.messengers {
		margin-top: 20px;
	}

	.messengers__item {
		&:hover {
			&:after {
				transform: translate(0,0);

				background-color: $yellow;
			}
		}
	}

	.messengers__item--viber {
		&::before {
			width: 19px;
			height: 19px;

			background-image: url("../../assets/img/icons/viber-logo-yellow.png");
		}
	}

	.messengers__item--wa {
		&::before {
			width: 19px;
			height: 19px;

			background-image: url("../../assets/img/icons/whatsapp-logo-yellow.png");
		}
	}

	.messengers__item--tlg {
		&::before {
			width: 19px;
			height: 19px;

			background-image: url("../../assets/img/icons/telegram-logo-yellow.png");
		}
	}
}

.footer__logo {
	margin-bottom: 25px;
}

.footer__top {
	position: relative;

	display: flex;

	padding-top: 35px;
	padding-bottom: 30px;

	flex-wrap: wrap;
	justify-content: space-around;

	&::before {
		position: absolute;
		bottom: 0;

		width: 100%;
		height: 2px;

		content: '';

		background-color: $yellow;
	}
}

.footer__info {
	display: flex;
	flex-direction: column;

	margin-bottom: 25px;

	text-align: center;

	justify-content: center;

	h4 {
		margin: 0;

		color: $white;

		font-family: 'Open Sans Semibold';
		font-size: 14px;
		line-height: 22px;
	}

	p {
		margin: 0;

		color: $white;

		font-size: 14px;
		line-height: 22px;
	}

	a {
		color: $white;
	}
}

.footer__bottom {
	display: flex;

	padding-top: 25px;
	padding-bottom: 25px;

	text-align: center;

	flex-wrap: wrap;
	justify-content: space-around;

	a,
	p,
	span {
		margin: 0;

		color: $white;

		font-size: 14px;
		line-height: 22px;
	}

	a {
		font-family: 'Open Sans Semibold';
	}
}
